.formNewTask {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: calc(0px - 1.6rem);
    
}

.inputNewTask {
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--gray-300);
    font-size: 1rem;
    border-radius: 8px;
    padding: 1rem;
    flex: 1 0 0;
}

.buttonNewTask { 
    padding: 1rem;
    display: flex;
    color: var(--gray-100);
    font-size:0.875rem; 
    font-weight: bold;
    border: 0;
    background: var(--blue-dark);
    border-radius: 8px;
    gap: 8px;
    vertical-align: middle;
    transition: backgroud 0.1s;
    cursor: pointer;
}

.buttonNewTask:hover {
    background: var(--blue);
}





